* {
  font-family: "Lato";
}

.maket__galery {
  display: flex;
  flex-wrap: wrap;
}

.maket__title {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}

.galery__card {
  width: 100%;
  max-width: 300px;
  border: 1px solid black;
}

.card__foto {
  width: 100%;
  max-width: 230px;
  margin: 25px 0px 0px 35px;
}
